specs/enterprise_agent_map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="enterpriseAgentMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="workspacePreferences" minOccurs="0" maxOccurs="1"/>
        <xs:element name="mcpTopology" minOccurs="1" maxOccurs="1"/>
        <xs:element name="extensions" minOccurs="0" maxOccurs="1"/>
        <xs:element name="agentCards" minOccurs="1" maxOccurs="1"/>
        <xs:element name="orchestrationGraph" minOccurs="0" maxOccurs="1"/>
        <xs:element name="verificationGraph" minOccurs="0" maxOccurs="1"/>
        <xs:element name="integrations" minOccurs="1" maxOccurs="1"/>
        <xs:element name="rewardLedger" minOccurs="0" maxOccurs="1"/>
        <xs:element name="costModel" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="canonical" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
